*{ box-sizing: border-box;}

html, body{
    margin: 0;
    padding: 0;
    background-color: #023047;
    background-image: url(skeleton.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    color: rgba(250, 250, 250, .7);
}

.wrapper{
    width: 430px;
    background-color: #000d26;
    border-radius: 12px;
    margin: 0 auto;
}

.header{
    background-image: url(stethoscope.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 10px 25px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    text-shadow: 2px 2px 2px black;
}

.list{
    padding: 10px 25px;
}

#listTitle{
    margin: 40px 0 10px 0;
}

#mainTitle{
    margin-top: 0;
}

.countdown{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.numbers{
    font-family: Cursed;
    color: rgb(255, 0, 0);
    font-size: x-large;
}

h3{
    margin: 0 0 5px 0;
}

.new-todo{
    width: 100%;
    height: 4vh;
    border-radius: 5px;
    background-color: white;
    outline: none;
    border: none;
    margin: 5px auto;
    padding: 12px;
    color: rgb(98, 97, 97);
    font-size: 14px;
}

button{
    width: 47.5%;
    height: 4vh;
    border-radius: 7px;
    margin-top: 6px;
    font-size: 15px;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px black;
    border: none;
    box-shadow: 2px 2px 1px gray;
    transform: scale(1);
}

button:hover,
button:focus{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform .5s ease-in-out;
}

#refresh{
    background-color: rgb(255, 122, 122);
}

#add-todo{
    background-color: rgb(8, 149, 8);
    margin-left: 11px;
}

ul{
    margin: 20px auto;
    padding: 0;
}

.list li{
    list-style-type: none;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    margin: 5px auto;
    padding: 5px 7px;
    text-shadow: 1px 1px 1px white;
    color: #111;
    text-transform: uppercase;
}

input[type="checkbox"] {
    margin-right: 15px;
    height: 2vh;
  }

@font-face{
    src: url("CursedTimerULiL.ttf");
    font-family: Cursed;
}

.userLevel{
    
    padding: 0 25px 10px 25px;
}

/* footer */

.footer {
    background: #111;
    text-align: center;
    padding: 2.5em 0;
    margin-top: 5px;
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer li{
    background-color: transparent;
    color: white;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}